{% extends "base.html" %}
{% block content %}
  <h1>Вход</h1>
  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        {{ error|escape }}
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      {{ error|escape }}
    {% endfor %}
  {% endif %}
  {% if user.is_authenticated %}
    <p>Вы уже авторизированы. Хотите <a href="{% url 'users:logout' %}">выйти?</a></p>
  {% else %}
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group" style="margin-top: 15px; max-width: 400px;">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {% load filters %}
          {{ field|add_class:"form-control" }}
          {% if field.help_text %}
            <small class="text-muted">{{ field.help_text|safe }}</small>
          {% endif %}
        </div>
      {% endfor %}
      <div style="margin-top: 20px; display: flex; justify-content: space-between; max-width: 400px;">
        <button type="submit" class="btn btn-primary">Войти</button>
        <div>
          <a href="{% url 'users:signup' %}" style="text-align: left;">Нет аккаунта?</a>
        </div>
      </div>
    </form>
  {% endif %}
{% endblock content %}