{% extends "base.html" %}
{% block content %}
  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        {{ error|escape }}
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      {{ error|escape }}
    {% endfor %}
  {% endif %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form_user %}
      <div class="form-group">
        {{ field.label_tag}} {{field}}
        {% if field.help_text %}
        <small class="text-muted">{{ field.help_text|safe }}</small>
        {% endif %}
      </div>
    {% endfor %}
    {% load static %}
    {% for field in form_profile %}
      <div class="form-group">
        {{ field.label_tag}} {{field}}
        {% if field.help_text %}
        <small class="text-muted">{{ field.help_text|safe }}</small>
        {% endif %}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Сохранить</button>
  </form>
  <a href="{% url 'homepage:coffee' %}">Выпить кофе</a>
{% endblock content %}