{% extends "base.html" %}
{% block content %}
  <h1>Регистрация</h1>
  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        {{ error|escape }}
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      {{ error|escape }}
    {% endfor %}
  {% endif %}
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group" style="margin-top: 15px;">
        <label for="{{ field.id_for_label }}">
          {{ field.label }}
        </label>
        {% load filters %}
        {{ field|add_class:"form-control" }}
      </div>
    {% endfor %}
    <div style="margin-top: 20px; width: 100%; display: flex; justify-content: space-between">
      <button type="submit" class="btn btn-primary">
        Зарегестрироваться
      </button>
      <a href="{% url 'users:login' %}" style="text-align: left;">
        Войти
      </a>
    </div>
  </form>
{% endblock content %}