{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
              <img src="{{ item.item_main_image.image.url }}" class="img-fluid">
            </div>
            <div class="col-md-6">
              <div class="text-start my-5">
                <h1 class="mb-4">{{ item.name }}</h1>
                <p class="mb-4">{{ item.text }}</p>
                <h3 class="mb-4">{{ item.price }} руб.</h3>
                <form id="add-to-cart-form" method="post" action="{% url 'catalog:add_to_cart' %}">
                  {% csrf_token %}
                  <input type="hidden" name="product_id" value="{{ item.id }}">
                  <button type="submit" class="btn btn-primary">Добавить в корзину</button>
                </form>
              </div>
            </div>
        </div>
    
      <div class="row mt-4">
        <div class="col">
          <h2>Фото товара</h2>
          <div class="row row-cols-3 g-3">
            {% for image in item.gallery_images.all %}
            <div class="col">
              <img src="{{ image.image.url }}" class="img-fluid">
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    
{% endblock content %}
<script>
  document.getElementById('add-to-cart-form').onsubmit = function(event) {
      event.preventDefault();

      const form = event.target;
      const formData = new FormData(form);

      fetch(form.action, {
          method: form.method,
          body: formData,
          headers: {
              'X-CSRFToken': formData.get('csrfmiddlewaretoken')
          }
      })
      .then(response => response.json())
      .then(data => {
          if (data.status === 'success') {
              alert('Товар добавлен в корзину!');
          } else {
              alert('Не удалось добавить товар в корзину.');
          }
      })
      .catch(error => console.error('Error:', error));
  };
</script>