{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
              <img src="{{ item.item_main_image.image.url }}" class="img-fluid">
            </div>
            <div class="col-md-6">
              <div class="text-start my-5">
                <h1 class="mb-4">{{ item.name }}</h1>
                <p class="mb-4">Описание Описание Описание Описание Описание Описание Описание</p>
                <h3 class="mb-4">9999 руб.</h3>
                <form method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary">Добавить в корзину</button>
                </form>
              </div>
            </div>
        </div>
    
      <div class="row mt-4">
        <div class="col">
          <h2>Фото товара</h2>
          <div class="row row-cols-3 g-3">
            {% for image in item.gallery_images.all %}
            <div class="col">
              <img src="{{ image.image.url }}" class="img-fluid">
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
